/* Variables:
   ========================================================================== */

// Font
$mainFont : 'SuisseIntl';

// Size
$mainFontColor  : #101010;
$mainFontSize   : 18px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$desktopWidth   : 1280px;
$smDesktopWidth : 1024px;
$tableWidth     : 768px;
$smTableWidth   : 640px;
$phoneWidth     : 480px;
$smPhoneWidth   : 320px;


// Main color
$default-color : #ffffff !default;
$primary-color : #3db565 !default;
$black         : #000000 !default;

// Neutral Color
$neutral-primary     : #333333 !default;
$neutral-regular     : #040707 !default;
$neutral-secondary   : #262626 !default;
$neutral-placeholder : #2e2e2e !default;

// Border Color
$border-light : #ffffff;

$circle-length: 151px;
$check-length : 36px;